/* Standaard */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #ffffff;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

button{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300 !important;
    font-size: 10px !important;
}

/* Map */

.menu{
    height: 100vh;
    background-color: #444651;
    -moz-box-shadow:     10px 0 9px -7px rgba(0,0,0,0.6);
    -webkit-box-shadow:  10px 0 9px -7px rgba(0,0,0,0.6);
    box-shadow:          10px 0 9px -7px rgba(0,0,0,0.6);
    z-index: 3;
}

.top_menu{
    padding-left: 20%;
    padding-top: 25px;
}

.menu img{
    width: 60%;
    margin-top: 25px;
}

.menu a{
    display: block;
    padding-top: 15px;
    color: #ffffff !important;
    cursor: pointer;
}

.menu a i{
    padding-right: 10px;
}

.menu button{
    margin-top: 25px;
}


.map{
    overflow: scroll;
    background-color: #212121;
    z-index: 1;
}

.data{
    height: 100vh;
    background-color: #444651;
    -moz-box-shadow:     -10px 0 9px -7px rgba(0,0,0,0.6);
    -webkit-box-shadow:  -10px 0 9px -7px rgba(0,0,0,0.6);
    box-shadow:          -10px 0 9px -7px rgba(0,0,0,0.6);
    z-index: 3;
}

.data button{
    margin-top: 5px;
}

.data h1{
    margin-top: 50px;
    padding-left: 22%;
}

.data #IDset{
    padding-left: 22%;
    padding-top: 10px;
}

.data #legenda{
    padding-left: 22%;
    padding-top: 25px;
}

.data #legenda li{
    display: block;
    padding-top: 10px;
}

.data #legenda li strong{
    font-family: 'Oswald';
    font-weight: 300;
    margin-left: 20px;
}

.data li{
    padding-top: 10px;
    list-style: none;
}

.data #slider{
    padding-left: 22%;
    padding-top: 25px;
}

.map svg{
    height: 150%;
}

svg image.overlay_echt{
    z-index: 0;
    pointer-events: none;
}

svg image.future{
    z-index: 0;
    pointer-events: none;
}

.wijk{
    z-index: 2;
    cursor: pointer;
}